*{
  background-color: black;
  color: #fffd47;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fascinate', fantasy;
}

a{
  text-decoration: underline;
  text-decoration-color: #67004D;
}

a:hover{
  color: #67004D;
}

/*------------------------------------------------------------------------------------------------*/

#home{
  position: relative;
  justify-content: center;
  min-height: 100vh;
}

#image_logo{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#choice1{
  float: left;
  width: 50%;
}

#choice2{
  margin-left: 50%;
}

.benefits{
  color: green;
  font-family: 'Fascinate', fantasy;
  font-size: 35px;
}

.disadvantages{
  color: red;
  font-family: 'Fascinate', fantasy;
  font-size: 35px;
}

input{
  font-size: 30px;
  border-radius: 10px;
  font-family: 'Fascinate', fantasy;
  background-color: #1A1D26;
  border: none;
}

#ok{
  font-size: 50px;
  border-radius: 10px;
  font-family: 'Fascinate', fantasy;
  background-color: #1A1D26;
  border-color: #fffd47;
  border-style: dashed;
}

textarea{
  font-size: 25px;
  border-radius: 10px;
  border: none;
  background-color: #1A1D26;
}

.separation{
  height: 2px;
  background-color: #67004D;
  width: 50%;
  opacity: 70%;
}

.footer:hover{
  color: #67004D;
}
