*{
  background-color: black;
  color: #fffd47;
  font-family: monospace;
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fascinate', fantasy;
}

a{
  text-decoration: underline;
  text-decoration-color: #67004D;
}

a:hover{
  color: #67004D;
}

/*------------------------------------------------------------------------------------------------*/

#image_logo{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
